.spinnerWrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4444;
}

.spinner {
	width: 60px;
	height: 60px;
	padding: 5px;
	border-radius: 5px;
	background-color: lightgray;
}
