.permissionsContainer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.95;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3333;
}

@keyframes upAndDown {
	0% {
		top: 130px;
	}
	100% {
		top: 150px;
	}
}

.upArrow {
	position: fixed;
	left: 354px;
	width: 60px;
	animation: upAndDown 1s infinite alternate;
}

.reloadHelper {
	position: fixed;
	top: 70px;
	left: 228px;
	color: white;
	font-family: "ProximaNova Semibold";
	font-size: 14px;
	cursor: pointer;
}
