<head>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->



<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>


<style type="text/css">

  body { 
    font-family: 'Proximanova', sans-serif;
  }

  a, a:hover, a:active, a:visited, a:focus {
      text-decoration:none;
  }



  @keyframes wiggle{
    42%{transform:rotate(0deg)}
    46%{transform:rotate(5deg)}
    50%{transform:rotate(-5deg)}
    54%{transform:rotate(5deg)}
    58%{transform:rotate(-5deg)}
    62%{transform:rotate(5deg)}
    66%{transform:rotate(-5deg)}
    70%{transform:rotate(0deg)}
  }

  .wiggler {

  /*    -webkit-animation: wiggle 5s infinite;*/
      animation: wiggle 5s infinite;

  }





  .form-container {
    position: absolute;
    margin: 0 auto;
  }

  .block {
    display: block;
  }

  .text-center {
    text-align: center;
  }

  img#districts {
    width: 58%;
    /*Make it undraggable*/
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

  }

  .mainTitle {
    width: 64%;
    margin-right: 0px;
  }

  #myTitleText {
    display: inline-block;
  }

  .content-container {
    max-width: 1445px;
    display: block;
    margin: 0 auto;
  }

  .specialists {
    font-size: 26px;
    color: #6ab159;
  }

  .specialists:hover {
    cursor: pointer;
    text-decoration: none;
    color: #77cb63;

  }

  .specialists a {
    color: #6ab159;

  }

  #educatorTrustTitle {
    text-align: left;
    color: #4a4a4a !important;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 2.3em;
  }

  #ipadImgContainer {
    display: inline-block;
    width: 25%;
  }

  #ipadImg {
    position: relative;
    top: -80px;
    left: 60px;    
    width: 340px;
  }

  .section-buffer {
    display: none;
    width: 100%;
    height: 130px;
  }

  .product-text {
    margin-top: 10px;
  }

  .product-text h2 {
    font-weight: bold;
    font-size: 1.4em;
    position: relative;
    z-index: 2;
  }

  .product-text ul {
     margin-left: 20px;
     width: 80%;
     text-align: left;
     position: relative;
  }

  .product-text ul p {
    margin-bottom: 20px;
    z-index: 2;
  }

  .product-display {

  }

  #get-started h1 {
    font-family: 'Proximanova Semibold';
    font-size: 2.2em;
    color: white;
  }

  #get-started p {
    font-weight: normal;
    color: white;
    font-size: 1.0em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #get-started a {
    width: 200px;
    height: 75px;
    margin: 0 auto;
  }

  .step-2 {
    padding-top: 5em;
  }

  button#new-hero-button.primary-btn {
    border: 1px solid black;
    border-color: #cccccc #a6a6a6 #737373;
    border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.35) rgba(0,0,0,0.55);
    border-bottom-width: 2px;
    font-size: inherit;
    padding: .6em 1em;
    border-radius: 5px;
    font-weight: 600;
    /* color: #5876EF; */
    background-color: #6ab258;
    /* background-color: #f5f5f5; */
    text-decoration: none;
    display: inline-block;
    font-family: 'ProximaNova Semibold'
}



  button i {
    margin-left: .2em;
    color: #2d6900;
    font-size: 1.85em !important;
  }

  button#new-hero-button.primary-btn {
        color: white;
        transition: all .3s;

  }

  button#new-hero-button.primary-btn:hover, button:hover {
        color: #f3f3f3;
        transform: translateY(-3px);
        filter: brightness(120%);
        transition: all .3s;
  }

  button { 
    transition: all .3s;
  }


  .wiggler:hover {
    transform: translateY(0px) !important; 
    transition: all .3s;

  }



  #hero-button {
    /* padding: 4px; */
    text-align: center;
    /* width: 200px; */
    /* height: 55px; */
    font-size: 1em;
    display: block;
    font-family: 'Proximanova Semibold';
    background-color: #FF4242;
    /* color: #ffffff; */
    border-radius: 5px;
    padding: 12px;
    /* border-color: #a80101; */
    border-width: 0px;


/*    text-align: center;
    width: 200px;
    height: 55px;
    font-size: 1em;
    display: block;
    font-family: 'Proximanova Semibold';
    background-color: #FF4242;
    color: white;
    border-radius: 5px;
    padding: 12px*/;

/*    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 0.8em;
    display: block;
    font-family: 'Proximanova Semibold';
    background-color: #FF4242;
    color: white;
    border-radius: 5px;
    padding: 10px;*/
  }

  .how-it-works {
    font-size: 0.5em;
    margin-top: 20px;
    font-weight: 100;
    color: white;
  }

  .how-it-works:hover {
    color:#e2e2e2;
  }


  .skew-up {
    transform: skewY(-2deg);
  }

  .skew-down-container {
    transform: skewY(2deg);
  }  

  .extra-padding {
    padding: 4.25rem;
    position: relative;
    padding-top: 5.9375rem;
    padding-bottom: 5.9375rem;
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }

  .content--max--width {
    position: relative;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  .content--max--width:before {
    display: table;
    line-height: 0;
    content: "";
  }

  .quote-image {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .quote-content-left {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 205px);
    padding-left: 5.625rem;
  }

  .quote-content {
    display: inline-block;
  }

  .quote-title {
    font-size: 2.0rem;
    line-height: 2.875rem;
    margin-bottom: 2.25rem;
    letter-spacing: -0.6px;
    color: #337ab7;
    font-weight: 100;
    display: inline-block;
  }

  .district-section { 
    margin-bottom: 2em;
    width:100%;

  }


  /* mobile */
  @media (max-width: 35.5em) {
    .how-it-works {
      display: none;
    }

    .splash-new .splash-container {
      background: url('https://d39onmifexd5hc.cloudfront.net/website/homepage/hero/student-hero-blue-desktop.jpg')
          center
          top/cover
          no-repeat
          #416B83 !important;
    }

    #get-started h1 {
    }


    #myTitleText {
      width: 90%;
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    #ipadImgContainer {
      display: block;
      width: 80%;
      margin: 0 auto;
      position: relative;
      top: 50px;
    }

    #ipadImg {
      width: 140%;
      margin-left: -120px;
    }

    button#new-hero-button.primary-btn {
      margin: 0 auto;
    }

    #hero-button {
      margin: 0 auto;
      font-size: 1em;
      width: 120px !important;
      height: 40px !important;
    }

    #educatorTrustTitle {
      font-size: 1.8em;
      text-align: center;
      margin-top: 25%;
      margin-left: 0px;
    }

    img#districts {
      width: 85%;
    }

    .footer {
      font-size: .6em !important;
      text-align: center;
      padding-bottom: 0px !important;
      line-height: .3;
    }
    .footer--nav--link:not(:last-child) {
      margin-right: 10px;
    }

    .splash-new .splash-container .title #myTitleText h4 {
      font-size: 1em;
    }

    .splash-new .splash-container .title #myTitleText h1 {
      font-size: 2.1em;
    }


  }

  /* when columns collapse */
  @media (max-width: 48em) {
    .section-buffer {
      height: 235px;
    }
    #pitch h1 {
      font-size: 27px;
      padding-top: 45px;
    }

    h4#sub-pitch {
      width: 100%;
      font-size: 17px;
      }

    .specialists {
      font-size: 24px;
    }

    .product-text {
      margin-top: 20px;
    }
    .product-text ul {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
    .product-text h2 {
      text-align: center;
    }
    .product-text ul p {
      text-align: center;
    }


    #demoButton2 {
      display: block;
      margin: 0 auto;
    }

    .quote-image { 
      margin-bottom: 1rem;
      display: block;
      width: 150px;
      height: 150px; 
    }

    [class*="quote-content"] {
      display: block;
      width: 100%;
      padding-left: 0;
    }

    .quote-title {
      font-size: 1.575rem;
      line-height: 2rem;
      margin-bottom: 1.0625rem;
    }


    .extra-padding {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
    padding-left: 2.8125rem;
    padding-right: 2.8125rem; 
    }




    h4#sub-pitch {
      width:  100%;
    }

    div.splash-container {
        background: url('https://d39onmifexd5hc.cloudfront.net/website/homepage/hero/student-hero-blue-tablet.jpg')
          center
          top/cover
          no-repeat
          #416B83 !important;

    }



    #ipadImgContainer {
      display: block;
      width: 80%;
      margin: 0 auto;
      position: relative;
      top: 70px;
      left: 30px;
    }

    #ipadImg {
/*      width: 70%;
*/      display: block;
      position: initial;
      margin: 0 auto;
      margin-left: -120px;
    }

    button#new-hero-button.primary-btn {  
      margin: 0 auto;
    }



  }



  @media (min-width: 566px) and (max-width: 1025px){

  

    h4#sub-pitch {
      width:  100%;
    }




    #ipadImgContainer {
      display: block;
      width: 60%;
      margin: 0 auto;
      position: relative;
      top: 70px;
      left: 30px;
    }

    #ipadImg {
/*      width: 70%;
*/      display: block;
      position: initial;
      margin: 0 auto;
    }

    button#new-hero-button.primary-btn {  
      margin: 0 auto;
    }

    #hero-button {
      margin: 0 auto;
      font-size: .8em;
    }


    #educatorTrustTitle {
      margin-top: 15%;
      text-align: center;
      margin-left: 0px;
    }

    .footer {
      font-size: .7em !important;
      text-align: center;
    }

   img#districts {
      width: 48%;
    }





  }

  @media (min-width: 35.5em) {
    .splash-new .splash-container h4 {
      text-align: left;
    }
    .splash-new .splash-container h1 {
      text-align: left;
    }
   
  }


</style>


<style> 


.perspective-container{

  perspective: 1300px;
  -webkit-perspective: 1300px;
  transform: rotate(4deg);
  perspective-origin: 30% 90%;
  -webkit-perspective-origin: 30% 90%;
  display: inline-block;

}


#ipadImgContainer, #ipadImg {
  display: none;
}



/* Shrink title text to fit ipad */
@media (min-width: 1024px) and (max-width: 1158px) {




  h4#sub-pitch {
    font-size: 18px;
  }

}

/* Tablet view*/
@media (min-width: 566px) and (max-width: 1025px) {



 

  video.ipad-device, .the-dang-device, .ipad-device {
    margin-bottom: 0px;
  }


}


@media (min-width: 566px) and (max-width: 700px)
{
  .the-dang-device, video.ipad-device {
    margin-left: 20%;
  }

  video.ipad-device {
        height: 369px;
    position: absolute;
/*    top: -132px;
*/    display: inline-block;
    position: absolute;
    top: 32px;
    margin-left: 0px;
    left:20%;

  }
  
}


@media (min-width: 48em) and (max-width: 64em)
{
  .splash-new .splash-container .title h1 {
    font-size: 1.9em;
  } 

  h4#sub-pitch {
    font-size: 19px;
  }

}


@media (max-width: 35.5em)
{
  .perspective-container {
    display: block;
  }

  .the-dang-device { 
    display: inline-block;
    margin-top: 100px;
    margin-left: 20%;
  }

  video.ipad-device {
    height: 381px;
    /* margin-left: 40px; */
    position: absolute;
    top: 28px;
    display: inline-block;
    display: block;
    margin: 100px auto;
    margin-left: 20%;
  }

 

  #ipadImgContainer, #ipadImg {
    display: block;
  }



}

.disabled {
  opacity: .75;
}

.animation-container {
  position: relative;
  height: 430px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}



.device-image {
  left: 50%;
  margin-left: -135px;
  position: absolute;

  width: 300px;
  z-index: 1;

  /*Make it undraggable*/
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.animation-video {
  height: 430px;
  left: 50%;
  margin-left: -121px;
  position: absolute;
  width: 270px;
  z-index: 9;
}

.rotate {
/*  -webkit-transform: rotateX(2deg) rotateY(-16deg);
*/    

    transform: rotateX(-4deg) rotateY(-21deg);  
}

a.demo-button button#new-hero-button {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

#myTitleText h1, #myTitleText h4 {
  text-align: center;
}





@media (min-width: 35.5em)
{
  .device-image {
    width: 735px;
    z-index: 1;

  }

  .animation-video {
    width: 270px;
  }

  .device-image {
    left: 50%;
    margin-left: -360px;
    position: absolute;
  }

  .animation-video {
    height: 430px;
    left: 50%;
    margin-left: -121px;
    position: absolute;
    /* top: -23px; */
/*    width: 270px;
*/  }



}

@media (min-width: 48em)
{

  .device-image {
/*    margin-left: -65px;
*/  }

  .animation-video {
    margin-left: -51px;
  }
  
  a.demo-button button#new-hero-button {
    display: inline-block;
    text-align: left;
  }

  #myTitleText h1, #myTitleText h4 {
    text-align: left;
  }

  #myTitleText h1 {
    margin-top: 0.75em;
  }




}

@media (min-width: 60em)
{

}


@media (max-width: 35.53em) {

  a.demo-button button#new-hero-button {
    margin-bottom: 0px;
  }

  .device-image, .animation-video, .animation-container {
    margin-bottom: 0px;
    display: none; 
  }



}


@media (max-width: 768px) {


  #myTitleText h1 {
    font-size: 2.1em;
    font-size: 6vw;
  }


}

/*don't overlap text*/

@media (min-width: 768px) and (max-width: 890px) {

  .device-image {
    margin-top: 40px;
  }

}




</style>




<%= render 'homepage/partials/navbar' %>

<div class="splash-new">
  <div
    class="splash-container pure-g"
    style="background: url('https://d39onmifexd5hc.cloudfront.net/website/homepage/hero/student-hero-blue-desktop.jpg')
          center
          top/cover
          no-repeat
          #416B83;"
  >
    <div class="title">
      <div id="myTitleText" class="pure-u-1 pure-u-md-3-5">

        <% @brand = {name: 'F&P and STEP', code: 'FP'}; @brand3 = {name: 'STEP', code: 'STEP'}; @brand2 = {name: 'F&P', code: 'FP'} 

        %>

        <h1>
          <%= @brand[:name] %> assessments— scored for you by a specialist 
        </h1>

          <h4 id="sub-pitch">
            ReadUp's trusted reading specialists give and score full F&amp;P and STEP assessments so teachers can spend less time testing and <span> more time teaching.</span>
           </h4>
      <a class="demo-button" href="/reports/direct-sample?brand=FP">
        <button class="primary-btn" id="new-hero-button" onclick="demoClicked()"> 
        Try a Demo
        <i class="fa fa-angle-right faa-pulse animated fa-lg" id="btn-icon"></i>

        </button>
      </a>

      </div>



<div class="animation-container pure-u-1 pure-u-md-1-3"> 
  <div class="perspective-container"> 

    <img class="device-image" src="/images/desktop-mockup.png">

<!--     <video class="animation-video rotate" loop muted autoplay preload="1">
              <source src="https://d39onmifexd5hc.cloudfront.net/website/homepage/v1.mp4" type="video/mp4">
    </video>
 -->



  </div>
</div>



      <div id="ipadImgContainer">
        <img id="ipadImg" src="/images/desktop-mockup.png" alt="">
      </div>
    </div>


</div>
</div>



<div class="content-container"> 
  <div class='section-buffer'></div>
  <h1 id="educatorTrustTitle"> Trusted by educators across the country</h1>
</div>

<section class="district-section">
  <div class="pure-g block text-center" style="padding-top: 1em;">

    <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-5">
      <div>
        <img src="https://d39onmifexd5hc.cloudfront.net/website/homepage/districts/new/district-1.jpg" alt="" id="districts">
      </div>
    </div>

    <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-5">
        <img src="https://d39onmifexd5hc.cloudfront.net/website/homepage/districts/new/district-2.jpg" alt="" id="districts">
    </div>

    <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-5">
      <div>
        <img src="https://d39onmifexd5hc.cloudfront.net/website/homepage/districts/new/district-3.jpg" alt="" id="districts">
      </div>
    </div>

    <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-5">
      <div>
        <img src="https://d39onmifexd5hc.cloudfront.net/website/homepage/districts/new/district-4.jpg" alt="" id="districts">
      </div>
    </div>

    <div class="pure-u-1-3 pure-u-md-1-3 pure-u-lg-1-5">
      <div>
        <img src="https://d39onmifexd5hc.cloudfront.net/website/homepage/districts/new/district-5.jpg" alt="" id="districts">
      </div>
    </div>

  </div>
</section>

<%= render 'homepage/partials/footer' %>


<script type="text/javascript">


// TODO: DRY this up. 


  // $(".demo-button").click( function() { 
  //   if (isMobileDevice()) {
  //           window.location.replace("/mobile_halt");
  //         } else {
  //           window.location.replace("/student_dashboard/#/story/demo");
  //         }
  // });

  $(document).ready(function() {
    if (isMobileDevice()) {
      $(".demo-button").attr("href", "/mobile_halt");
    }
  });

  function demoClicked() {
    var btn =document.getElementById("new-hero-button");
    btn.className += " disabled";

    var icon = document.getElementById("btn-icon");
    icon.className += " fa-spinner fa-pulse";
    icon.classList.remove("faa-pulse");

 
  }


  window.setTimeout(function(){
    console.log('happening now')
    $('#new-hero-button').addClass("wiggler");
  }, 9000);




</script>



