<title style=>ReadUp | Our Team</title>

<meta property="og:image" content="https://www.joinstorytime.com/images/modules/st-og-image.png">


<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/imports/pure-min.css">
<link rel="stylesheet" href="/stylesheets/imports/grids-responsive-min.css">
<link rel="stylesheet" href="/stylesheets/pure-push-pull.css" type="text/css" />

<%= stylesheet_link_tag 'team', media: 'all', 'data-turbolinks-track': 'reload' %>
<style type="text/css">

  body { 
    font-family: 'Proximanova';
    font-weight: 100;
  }

  .container {
  	padding-left: 50px;
  }

  .title {
  	font-size: 30px;
  }
</style>



<body>
	<div class="container">
        <div> 
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <h3><strong class="title" styles="font-size: 18px;">Instructions</strong></h3>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
			<p><strong>Steps</strong></p>
			<ol>
			<li>Review a sample&nbsp;<a href="/reports/direct-sample" target="_blank">here</a></li>
			<li>Read this document</li>
			<li>Do a practice&nbsp;<a href="/transcribe/78" target="_blank">here</a></li>
			<li>Be ready to do an actual one when needed at <a href="https://www.readupnow.com/transcribe/latest">www.readupnow.com/transcribe/latest<br /><br /></a></li>
			</ol>
			<p><strong>Optional</strong></p>
			<ol>
			<li>Review the phoneme guides below&nbsp;</li>
			<li>Do additional practice on Literably&nbsp;<a href="https://www.google.com/search?q=literably+scorer+sign+up&amp;oq=literably+scorer+sign+up&amp;aqs=chrome..69i57j69i60.2508j0j7&amp;sourceid=chrome&amp;ie=UTF-8" target="_blank">here</a></li>
			</ol>
          <div>&nbsp;</div>
          <div>&nbsp;</div>

          <h3><strong styles="font-size: 18px;">The keys</strong></h3>
          <div>&nbsp;</div>
          <div>To control the audio, use the following shortcuts:</div>
          <div>&nbsp;</div>
          <div><strong>Space</strong>: &nbsp;Sstart or stop the playback</div>
          <div><strong>Left Arrow</strong>: Go back 2 seconds&nbsp;</div>
          <div><strong>Right arrow</strong>: Go forward 2 seconds&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>As you listen, change the text by hovering over a word or a space and using one of these shortcuts:</div>
          <div>&nbsp;</div>
          <div><strong>A</strong>: Add</div>
          <div><strong>S</strong>:&nbsp;Substitute</div>
          <div><strong>D</strong>: Delete</div>
          <div><strong>E</strong>: End&nbsp;</div>
          <div>&nbsp;</div>
          <div>In more detail&hellip;</div>
          <div>&nbsp;</div>
          <div><strong>A</strong>: add a word</div>
          <div><strong>S</strong>:&nbsp;substitute a word that was misread</div>
          <div><strong>D</strong>: delete a word that was never read (or delete a previous edit)</div>
          <div><strong>E</strong>: end the grading where the student stopped reading.&nbsp;</div>
          <div>&nbsp;</div> 
          <div>&nbsp;</div> 
          <h3><span styles="font-size: 18px;"><strong>How to transcribe non-words</strong></span></h3>
          <div>&nbsp;</div>
          <div>
          <div>When the reader says a non-word, you should transcribe the sounds phonetically. You may be unfamiliar with phonemes and phonetic transcription. A "phoneme" is the smallest unit of human speech - like "ch" or "b." All words are made up of phonemes. For example, the word "shin" has three phonemes: "sh" "i" and "n."</div>
          <div>&nbsp;</div>
          <div>We've adopted&nbsp;the phoneme chart below. You should study the phonemes and their spellings carefully. You may want to print the phoneme chart for reference. We've also prepared a&nbsp;video below&nbsp;to teach you the phoneme sounds and spellings.&nbsp;You must use these phonemes to transcribe non-words uttered; <strong>transcribing what you hear in a way that "looks right," but does not match the phonemes in the chart, is not acceptable.</strong></div>
          <div>&nbsp;</div>
          <div>When transcribing a non-word, you will simply string together the appropriate phoneme spellings. For example, if a child says "b" "l" "i-" "k," you should write "blik."</div>
          <div>&nbsp;</div>
          <div>Two clarifications:</div>
          <div>&nbsp;</div>
          <div>1. Sometimes, your phonetically transcribed non-word will coincidentally have the same spelling as a real word with a different pronunciation. In these case, just add a hyphen "-" to indicate that the spelling should be interpreted phonetically. For example, if you hear "i-" followed by "s," you should write "is-", "-is" or "i-s," because "is" will be interpreted as the word "is," which is pronounced "iz". Similarly, if you hear an "i-" phoneme all by itself, you should write "i-" not "i," because "i" will be interpreted as the word "I," which is pronounced "ie".</div>
          <div>&nbsp;</div>
          <div>2. Because there is some overlap between phonetic spellings (e.g. "e" and "ee"), there will be times when the same phonetic transcription could be interpreted in multiple ways. For example, the non-word "keer" could be interpreted as "k" "ee" "r" or as "k" "e" "e" "r." Our parser starts at the left and prioritizes two-letter phonemes ("ee") over one-letter phonemes ("e"), so "keer" will be interpreted as "k" "ee" "r." As a result, if you hear "k" "e" "e" "r," you should be sure to separate the&nbsp;e's&nbsp;using hyphens. You could write "k-e-e-r" "ke-er" "k-e-er" or "k-e-er." All that matters here is that the&nbsp;e's&nbsp;are separated.&nbsp;</div>
          </div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <h3><strong styles="font-size: 18px;">Training</strong></h3>
          <div>&nbsp;</div>
          <div>For practice, create a scorer account on Literably and use their transcription training <a target="_blank" href="https://www.google.com/search?q=literably+scorer+sign+up&oq=literably+scorer+sign+up&aqs=chrome..69i57j69i60.2508j0j7&sourceid=chrome&ie=UTF-8">here</a></div>
          <div>&nbsp;</div>

          <hr/>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
           <h3><strong styles="font-size: 18px;">Phoneme help</strong></h3>
          <div>&nbsp;</div>          
          <embed src="https://s3-us-west-2.amazonaws.com/readup-now/website/Phonemes_Chart.pdf" width="600" height="575" display="inlineBlock" type='application/pdf'/>
          <iframe width="560" height="315" display="inlineBlock" src="https://www.youtube.com/embed/ulQC7LlpfE8?start=8" frameBorder="0" allowFullScreen></iframe>
       </div>
      </div>
</body>