<style>
  body {
  	background-color: #39393A;
  	color: white;
  	text-align: center;

  }

  div.cta {
  	width: 80%;
    height: 80%;
  	margin: 0 auto;
  	margin-top: 150px;
    margin-bottom: 150px;
  }

  h1.celebration {
  	font-family: 'Proximanova';
    font-weight: bold;
  	font-size: 28px;
  	margin-bottom: 50px;
  }

  h2.mobile-cta {
  	font-family: 'Proximanova';
  	font-size: 21px;
  	line-height: 1.4;
    font-weight: 100;

  }

  span.explanatory-text {
  	font-family: 'Proximanova';
    font-weight: 100;
  }

</style>

<%= render 'homepage/partials/navbar' %>

<div class="cta">
	<h1 class="celebration">Hold on!</h1>
	<h2 class="mobile-cta">Just get on a <span class="explanatory-text">desktop computer</span> to see ReadUp live</h2>
</div>
