@keyframes pulseOut {
	0% {
		transform: scale(1.0)
	}
	40% {
		transform: scale(1.5)
	}
	50% {
		transform: scale(1.5)
	}
	90% {
		transform: scale(1.0)
	}
	100% {
		transform: scale(1.0)
	}	
}
/**/

@keyframes wiggle{
	42%{transform:rotate(0deg)}
	46%{transform:rotate(5deg)}
	50%{transform:rotate(-5deg)}
	54%{transform:rotate(5deg)}
	58%{transform:rotate(-5deg)}
	62%{transform:rotate(5deg)}
	66%{transform:rotate(-5deg)}
	70%{transform:rotate(0deg)}
}

.wiggler {

/*    -webkit-animation: wiggle 5s infinite;*/
    animation: wiggle 5s infinite;

}

.pulse {
	animation: pulseOut 2s infinite;
}


.submitButton:hover .pulse{
	animation: none;
}


.reportsContainer {
	color: #4a4a4a;
}

.navBar {
	height: 60px;
	z-index: 100;
}

.stickyPricingButton {
	position: fixed;
	right: 85px;
	top: 300px;
	width: 150px;
	height: 40px;
	border-radius: 3px;
}


.contentWrapper {
	font-family: 'ProximaNova';
	padding: 70px 110px;
	padding-right: 50px;
	padding-top: 130px;
	max-width: 1025px;
	background-color: white;

}


.evaluationInfoHeader {
	display: flex;
	flex-flow: row;
}

.mainHeadingContainer {

}

.studentNameHeading {
	font-family: 'ProximaNova';
	font-weight: bold;
	font-weight: bold;
	font-size: 2.5em;
	
}

.bookInfoSubheading p{
	font-size: 1.4em;
	font-family: 'ProximaNova';
	font-style: italic;
	margin-top: 15px;
	color: #4a4a4a;
}

.bookInfoSubheading span {
	font-family: 'Conv_proxima-nova-bold-italic';
	color: #4a4a4a;
}


.icon {
	display: inline-block;
    height: 20px;
    margin-left: 10px;
    max-width: none !important
}

.playbookTrigger {
	font-family: 'ProximaNova Semibold';
	color: #2e6da4;
	cursor: pointer;
}

.playbookTrigger:hover  {
	transform: translateY(-3px);
    filter: brightness(120%);
    transition: all .3s;

}

button:hover, .btn-primary:hover {
	transform: translateY(-3px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    filter: brightness(110%);
    transition: all .3s;
}


.pricingFormButton:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
    transform: translateY(-3px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	filter: brightness(110%);
	transition: all .3s;
}

.audioWrapper button:hover, button.miniPlayButton:hover {
	transform: translateY(0px);
}



button, .playbookTrigger {
		transition: all .3s;

}



.metricsHeadingContainer {
	flex: 1;
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-top: 5px; 
	/*This aligns it with bottom of Student Heading.*/
}

.metricWrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 6px;
	margin-left: 15px;
	margin-right: 15px;
}

.metricFigureLabel {
	font-family: 'ProximaNova';
	font-weight: bold;
	font-size: 1.9em;
}

.goodMetric {
	color: #249C44;
}

.fairMetric {
	color: #D97F0F;
}

.poorMetric { 
	color: #982e2b;
}


.detail {
	font-weight: 100;
	font-family: 'ProximaNova Semibold';
	font-size: 12px;
    color: grey;
    display: block;	
    line-height: 1.7;
}

.detail span {
	font-size: 15px;
}

.myHr {
	margin: .5em 0;
    margin-bottom: 6px;
}



.metricDescriptionLabel {
	font-family: 'ProximaNova Semibold';
	font-size: 1.3em;
	transition: all .3s;

}

.metricLabelWithDetails {
	transition: all .3s;
}


.metricLabelWithDetails:hover {
	transform: translateY(-2px);
    filter: brightness(135%);
    transition: all .3s;
}



.levelInfoWrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	margin-top: 15px;
}

.levelRectangle {
	background-color: #249C44;
	color: white;
	font-family: 'ProximaNova';
	font-size: 1.4em;
	width: 140px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}


.panel-custom {
	margin-top: 20px;
}

.panel-custom h2 {
	font-size: 24px;
}

.panel-custom div.panel-heading {
	padding: 15px 35px 15px 20px;
}

.panel-custom > div.panel-heading {
	padding: 15px 35px 15px 20px;
}



.goodLevelResult {
	background-color: #249C44;
}



.poorLevelResult {
	background-color: #982e2b;
}

.fairLevelResult {
	background-color: #D97F0F;
}






.levelLabel {
	margin-top: 10px;
	font-family: 'ProximaNova';
	font-size: 1.2em;
}

.ReassessLevelLabel span, .ReassessLevelLabel {
	margin-top: 8px;
	font-size: 1.2em;
	text-align: center;

}

.ReassessLevelLabel span {
	font-family: 'ProximaNova Semibold';
	font-size: 1.12em;

}

.ReassessLevelLabel {
	font-family: 'ProximaNova';
}

.sectionHeader {
    letter-spacing: .12em;
    color: grey;
    font-size: 12px;
    margin-top: 80px;
    font-weight: bold;
}

.bookInfoHeader {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 60px;
}

.bookInfoWrapper {

}

.bookInfoTitle {
	font-family: 'ProximaNova';
	font-weight: bold;
	font-weight: bold;
	font-size: 1.6em;
}

.bookInfoLevel {
	font-size: 1.2em;
	font-family: 'ProximaNova';
	font-style: italic;
	margin-top: 5px;
}

.audioWrapper {
	margin-left: 50px;
}

.audioWrapper button {
/*	background-color: #2e6da4;
	border-color: #275985;
*/	font-family: 'ProximaNova Semibold';
	padding: 8px 20px;

}

.audioElement {
	width: 400px;
}

.compAudioElement {
	width: 130px;
}

.modalSubtitle {
	color: grey;
    font-size: 13px;
    font-weight: 200;
    text-align: center;
    margin-top: 1.5em;
    font-family: 'ProximaNova';
}

.modalSubtitleLong {
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 20px;
}


.paperImage {
	width: 70px;
    margin-bottom: 10px;
    background-color: transparent;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 10px;

}

.paperImageOverlay {
	width: 30px;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 222px;  
    display: none;  
}

@media (min-width: 768px) {
	
	.modalLg {
		width: 690px;
	}

	.modalMedium {
		width: 460px;
	}

	.modalMediumPlus {
		width: 510px;
	}

	.paperImageOverlay {
		display: block;
	}

	.modalSubtitleLong {
		width: 310px;
	}

	.modalSmall {
		width: 340px;
	}


}


.mbi {
	background-color: black;
	opacity: 0.9;
}



/*COMPREHENSION SECTION*/

.comp {
	color: #4a4a4a;
	margin-top: 5.5em;
}

.fadedComp {
	opacity: .4;
}

.showQ {
	opacity: 1;
}

.compDivider {
	margin-bottom: 5em;
}

.compPart {
	margin-bottom: 5em;
}

.compPartHeader { 
	font-size: 1.5em;
	margin-bottom: 20px;
	font-weight: 900;
}

.retellHeader {
	margin-top: 30px;
}

.questionBlock {
	margin: 25px 0px;
	margin-top: 10px;
	margin-left: 10px;
}

.questionText {
	font-family: 'ProximaNova Semibold';
    line-height: 1.6;
    font-size: 16px;
    width: 600px;

}

.questionText span {
	font-weight: 100;
	font-family: 'ProximaNova';
}

.studentResponse {
    margin: 12px 0px;
    font-style: italic;
    font-size: 1.075em;
    line-height: 1.6;
    margin-left: 20px;
    width: 580px;
    display: inline-block;
 }

.compMissed {
	color: #982e2b;
}

.compCorrect {
	color: green; 
	/*Less contrast with white background than #249C44*/
}

.compFair {
	color: #af6304;
}

.compCorrect, .compMissed, .compFair {
	margin-left: 20px;
	width: 580px;
}

span.missed, span.correct {
	font-weight: 900; 
	line-height: 1.6;
	font-size: 1.05em;
}

.pointValue {
    font-weight: 100;
    font-family: 'ProximaNova';
    font-size: 14px;
    letter-spacing: .7px;
    opacity: .7;
}






/*END COMPREHENSION SECTION */

.editSpan {
	color: #377BB5;
	cursor: pointer;
}

.noteControlLabel {
	font-size: 1.5em;
}

.noteTextArea {
	width: 400px;
    height: 100px !important;
}

.editTeacherNoteText {
	width: 400px;
	line-height: 1.5em;
}

.pricingFooter {
	margin-top: 100px;
	margin-bottom: 40px;
	width: 100%;
	display/*: flex;
	flex-flow: column;
	justify*/-content: center;
}

.footerButtonContainer {
	text-align: center;
}
.pricingFooterLabel {
	font-family: 'ProximaNova';
	font-weight: bold;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
	margin-bottom: 20px;
}

.pricingFooterButton {
    min-width: 170px;
    height: 50px;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
/*    background-color: #2e6da4;
    border-color: #275985;
*/    font-family: 'ProximaNova Semibold';
    padding: 8px 20px;

}

.multipleFooterButton {
	display: inline-block;
	margin-right: 25px;
	text-align: center;
}

.pricingModalTitle {
	font-family: 'ProximaNova';
	font-weight: bold;
	font-size: 1.4em;
	text-align: center;
}

.playbookModalHeader {
	background-color: #F7F7F7;
	color: #4a4a4a;
	border-radius: 6px;
	opacity: .9;
}

.playbookMoves .detail {
	font-size: 14px; 
	font-family: 'ProximaNova';
	line-height: 2.4;
}

.playbookMoves .detail .poorMetric, .playbookMoves .detail .fairMetric, .playbookMoves .detail .goodMetric{
    font-style: italic;
    font-family: 'ProximaNova Semibold';
}


.fluencyDetails .detail {
	font-family: 'ProximaNova';
}

.readyModalTitle {
	font-size: 1.7em;
}

.readyModalPaperImage {
	width: 60px;
}


.readyModalBody {
	padding: 0px;
}

.readyCheck {
	margin-left: 88px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 3em;
    color: #4cae4c;
}

.flag {
	color: #286090;
}

a:hover {
	text-decoration: none;
}

.pricingFormWrapper {
	padding-top:10px;
	width: 65%;
	margin: 0 auto;
}

.pricingFormField {
	padding-bottom: 15px;
	font-family: 'ProximaNova';
}

.pricingFormFieldLabel {
	font-family: 'ProximaNova Semibold';
	font-size: .9em;
	margin-bottom: 5px;
}

.pricingFormFieldInput {
	width: 100%;
	height: 35px;
	background: #fff;
    border: 1px solid #c5c7cb;
	border-radius: 4px;
	padding: 12px;
	font-size: 0.85em;
}

.pricingFormButton {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'ProximaNova Semibold';
}

.seeYourReportButton {
	width: 60%;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    margin-top: 10px;
}

.pdf {
	margin: 0 auto;
	display: block;
	width: 100%;
	height: 500px;
	text-align: center;
}

.compImage {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	display: block;

}

.miniPlayButton {
	line-height: .9;
    position: relative;
    top: -10px;
    font-family: 'ProximaNova semibold';
	margin-left: 20px;

}

.noTranscriptionMiniPlayButton, .noTranscriptionAudio {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.miniPlayIcon {
	margin-left: 5px;

}

@media (max-width: 1168px) {

	.miniPlayButton, .compAudioElement {
		margin-top: 10px;
		margin-bottom: 15px;
	}	

}