/*  NAVIGATION BAR  */

.navContainer {
	display: flex;
	height: 60px;
	background-color: #143145;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.recipient {
	font-weight: 800;
}

.subContainer {
	flex: 1;
	align-items: center;
}

.notRecordingSubContainer {
	flex: 1;
	align-items: center;
	text-align: center;
}

.notRecording {
	color: white;
	opacity: 0.6;
}

.progress {
	width: 30vw;
	position: relative;
	top: 8px;
	opacity: 0.5;
}

.brandText {
	color: white;
	font-size: 1.5em;
	margin-left: 60px;
	/*background-color: red;*/
	margin-right: auto;
	font-family: "Proximanova Semibold";
	cursor: pointer;
}

.centerLabel {
	margin-right: auto;
	margin-left: auto;
	z-index: 999999;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	opacity: 0.7;
	position: relative;
	right: 50px;
	top: 1px;
}

.centerDisplayContainer {
	width: 250px;
	height: 90px;
	background-color: transparent;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
}

.headerTabBlue {
	background: url(/images/dashboard/header-tab-dark-blue.svg);
	background-size: 250px 90px;
}
.headerTabRed {
	background: url(/images/dashboard/header-tab-red.svg);
	background-size: 250px 90px;
}

.rightDisplayContainer {
	margin-left: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	font-size: 1.05em;
	/*background-color: green;*/
}

.userNameLabel {
	font-style: italic;
	opacity: 0.7;
}

.shareLabel {
	cursor: pointer;
}

.logoutButton {
	margin-left: 40px;
	margin-right: 80px;
	cursor: pointer;
}

.logoutLabel {
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.logoutLabel:visited {
	color: white;
}

.logoutLabel:hover {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

.logoutIcon {
	width: 20px;
	height: 20px;
	margin-left: 8px;
	background-color: transparent;
	cursor: pointer;
}

.shareIcon {
	font-size: 0.85em;
}

@keyframes pulseOut {
	0% {
		transform: scale(1);
	}
	40% {
		transform: scale(1.5);
	}
	50% {
		transform: scale(1.5);
	}
	90% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

.pulsatingCircle {
	/*background-color: green;*/
	color: white;
	height: 14px;
	width: 14px;
	position: relative;
	top: -45px;
	right: -40px;
	border-radius: 7px;
	background-color: white;
	animation: pulseOut 2s infinite;
}

.reportNav {
	-webkit-box-shadow: 1px 10px 19px -8px rgba(84, 84, 84, 0.5);
	-moz-box-shadow: 1px 10px 19px -8px rgba(84, 84, 84, 0.5);
	box-shadow: 1px 10px 19px -8px rgba(84, 84, 84, 0.5);
	position: fixed;
	width: 100%;
}

.lastNavElt {
	margin-right: 80px;
	width: 132px;
}

.barNavy {
	background-color: #143145;
	color: white;
}

.barWhite {
	background-color: white;
	color: #0f72af;
}

.textWhite {
	color: white;
	white-space: nowrap;
}

.textNavy {
	color: #0f72af;
}

.tryButton {
	margin-right: 30px;
	color: #133246;
	font-family: "Proximanova Semibold";
	font-size: 1.2em;
	border: none;
	transition: all 0.3s;
	outline: none !important;
}

.tryButtonMuted {
	margin-right: 30px;
	color: white;
	background-color: #133246;
	font-family: "Proximanova Semibold";
	font-size: 1.2em;
	border: none;
	transition: all 0.3s;
	outline: none !important;
}

.delay {
	-webkit-animation-delay: 10s; /* Safari 4.0 - 8.0 */
	animation-delay: 10s;
}

@keyframes pulse-right {
	from {
		transform: translateX(0.1em) scale(1.1);
	}
	to {
		transform: translateX(-0.1em);
	}
}

.pulsatingArrow {
	position: relative;
	animation-delay: 10s;
	animation: pulse-right 800ms infinite alternate;
}

@media (max-width: 768px) {
	.tryButton,
	.tryButtonMuted {
		display: none;
	}
}

@media screen and (max-width: 930px) {
	.centerLabel {
		display: none;
	}
}
