.introContainer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	z-index: 3333;

	color: white;
	text-align: center;
}

.submittedImage {
	width: 475px;
	/*	height: 300px;
	margin: 50px;
	background-color: transparent;
*/
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.title {
	font-size: 4.5em;
}

.subtitle {
	font-size: 2em;
	font-family: "ProximaNova Semibold";
}

.readupLogo {
	position: absolute;
	top: 30px;
	left: 50px;

	font-size: 1.8em;
	font-family: "Proximanova Semibold";
	z-index: 999999;
	color: white;
}
