.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.dropShadow {
	-webkit-box-shadow: 10px 10px 61px 0px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 10px 10px 61px 0px rgba(0, 0, 0, 0.49);
	box-shadow: 10px 10px 61px 0px rgba(0, 0, 0, 0.49);
}

.studentAvatarContainer {
	margin: 0 auto;
	background-color: white;
	width: 80%;
	min-height: 360px;
	border-radius: 9px;

	max-height: 25vh;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	position: relative;

	-webkit-box-shadow: inset 10px -40px 123px -51px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 10px -40px 123px -51px rgba(0, 0, 0, 0.75);
	box-shadow: inset 10px -40px 123px -51px rgba(0, 0, 0, 0.75);
}
