

.pausedModalContainer {
	width: 100%;
	height: 100%;
}

.pausedModalHeaderWrapper {
	width: 100%;
	height: 80px;
}

.pausedModalContinueButtonWrapper {
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 0.1px solid lightgray;
}

.pausedModalButtonArrayWrapper {
	height: 200px;
	width: 100%;
}