<style>
  #state {
    border: 0.5px solid gray;
    width: 100%;
    margin-bottom: 0.5em;
  }
</style>
      <!-- Modal Signup -->
      <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
      <div data-role="page" class="wrapper" id="page6-school-info">

        <%= render 'homepage/components/navbar' %>

        <div data-role="main" class="body invite-teacher">

          <div class="container" style="padding-top:0em;">

              <h2 class="modal-signup-heading" id="modal-signup-heading">
                Add your school
              </h2>

              <form id="add-school" class="signup-form">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <div class="signup-setup">
                  <div class="field" id="signup-field">

                    <label class="label">
                      School name
                    </label>
                    <input name="school[name]" autocomplete="off" placeholder="" class="input" required>

                    <label class="label">
                      City
                    </label>
                    <input name="school[city]" id="ct" autocomplete="off" placeholder="" class="input" required>

                    <label class="label">
                      State
                    </label>
                    <select class="form-control" id="state" name="school[state]" required>
                        <option value="">Select your state</option>
                        <option value="International">International</option>
                        <option value="AK">Alaska</option>
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="AZ">Arizona</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DC">District of Columbia</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="IA">Iowa</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MD">Maryland</option>
                        <option value="ME">Maine</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MO">Missouri</option>
                        <option value="MS">Mississippi</option>
                        <option value="MT">Montana</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="NE">Nebraska</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NV">Nevada</option>
                        <option value="NY">New York</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VA">Virginia</option>
                        <option value="VT">Vermont</option>
                        <option value="WA">Washington</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WV">West Virginia</option>
                        <option value="WY">Wyoming</option>
                      </select>

                    <!-- grade selection -->
                    <%= render 'homepage/signup/modals/partials/grade_level' %>

                    </div>
                    <!-- <button id="join" data-dismiss='modal' data-toggle='modal' data-target="#modalSig"  class="signup-form-button pure-button pure-button-prry get_update dialog-button">Log in</button> -->
                </div>

                <input type="hidden" name="role" value="">
                <input type="hidden" name="signature" value="">

                <a id="page6link" class="transition-link ui-btn web-mobile-signup-button" href="#page3-signature" data-transition="fade">
                  Continue
                </a>

                <script>


                  $(document).on('click', '#page6link',function(event){
                    var ValidStatus = $("form#add-school").valid();


                    if (ValidStatus == false) {
                        event.preventDefault();
                        event.stopPropagation();
                        mixpanel.track('invalid school info given');
                        return false;
                    }

                    var role = $('form#choose-educator-role-form').find('input[name=role]').val();
                    $('form#add-school').find('input[name=role]').val(role);

                    var sig = $('form#educator-signature-form').find('input[name=signature]').val();

                    $('form#add-school').find('input[name=signature]').val(sig);
                        console.log()

                    var formData = $('form#add-school').serialize();
                    console.log(formData);

                    $.ajax({
                      url: '/schools',
                      dataType: "json",
                      type: 'post',
                      data: formData,
                    }).done(function(data, statusText, xhr) {
                      var gradeLevel = $('form#add-school :input.grade-level')
                      $('form#add-students').find('input[name=school_id]').val(data.id);
                      $('form#add-students').find('input[name=classroom_grade]').val(gradeLevel);
                    }).fail(function(data, statusText, xhr) {
                      alert('Please try again!')
                      event.preventDefault();
                      event.stopPropagation();
                      // TODO: mixpanel
                      return false;
                    })

                  });

                </script>
              </form>
          </div>
        </div>
      </div>
      <!-- end Modal Signup-->