  <div data-role="page" class="wrapper" id="page3-signature">
    <%= render 'homepage/components/navbar' %>
      <div data-role="main" class="body invite-teacher" style="vertical-align: top;">
        <div class="container password">
          <div class="pure-g">
              <div class="pure-u-1 class-information invite-teacher">
                <h1 class="" style="display: inline-block;font-weight:600;font-size:1.6em;">What do parents call you?</h1>
              </div>
              <div class="pure-u-1 login-form">
                <form id="educator-signature-form">
                  <div class="signup-setup">
                    <div class="field" id="signup-field">
                      <input name="signature" placeholder="Ms. Jones" class="input" required>
                    </div>

                    <div class="field" id="signup-field">
                      <label class="label">Classroom name</label>
                      <input name="classroom_name" placeholder='e.g. "Homeroom" or "1st Grade English"' class="input" required>
                    </div>

                     <a id="page3link" class="transition-link ui-btn web-mobile-signup-button" href="#page5-add-students" data-transition="fade">

                        <%= "Save" %>
                     </a>

                     <script>

                      $('#educator-signature-form').on('keyup keypress', function(e) {
                        var keyCode = e.keyCode || e.which;
                        if (keyCode === 13) {
                          $('#page3link').click();
                        }
                      });

                      $(document).on('click', '#page3link',function(event){

                        var ValidStatus = $("#educator-signature-form").valid();
                        // console.log(ValidStatus);
                        if (ValidStatus == false) {
                            event.preventDefault();
                            event.stopPropagation();
                            mixpanel.track('invalid signature given');
                            return false;
                        }
                        mixpanel.track('signature given');

                        $('#page5-add-students form#add-students').find('input[name=signature]').val($('#page3-signature input[name=signature]').val());
                        $('#page5-add-students form#add-students').find('input[name=classroom_name]').val($('#page3-signature input[name=classroom_name]').val());
                      });

                     </script>

                  </div>
                </form>
              </div>
          </div> <%# end pure-g %>
        </div>
      </div> <%# body class %>
  </div> <%# wrapper %>