body {
	font-family: "ProximaNova", sans-serif;
}

.fullHeight {
	height: 100%;
	display: flex;
	flex-flow: column;
}

.navBar {
	height: 60px;
	z-index: 100;
}

.contentContainer {
	display: flex;
	width: 100%;
	/*height: 100%;*/
	flex: 1;
	background-color: #0c1f2c;
	z-index: 1;
	justify-content: space-around;
	align-items: center;
	overflow-y: hidden;
}

.leftButtonContainer {
	min-width: 200px;
	/*width: 200px;
	height: 70px;*/
	margin: 30px;
}

.leftDoubleButtonContainer {
	margin-top: 0px;
	display: flex;
	flex-flow: column;
	height: 65vh;
	justify-content: space-between;
	margin-left: 10px;

	/*STUFF INCLUDED FOR NEW FORMAT PHYSICAL BOOK*/
	min-width: 200px;
	margin: 30px;
}

.rightButtonContainer {
	min-width: 200px;
	/*width: 200px;
	height: 70px;*/
	margin: 30px;
}

.leftButtonContainer,
.rightButtonContainer {
	margin-top: 0%;
}

.spellingRightButtonContainer {
	min-width: 200px;
	margin: 30px;
	margin-top: -4%;
	margin-bottom: 0px;
}

.bookpageContainer {
	width: 31.5vw;
	height: 75vh;
	min-width: 405px;
	min-height: 522px;
	background-color: white;
	border-radius: 5px;
}

.disabledBookpageContainer {
	width: 31.5vw;
	height: 75vh;
	min-width: 405px;
	min-height: 522px;
	background-color: white;
	border-radius: 5px;
	opacity: 0.5;
	position: relative;
	z-index: -1;
	top: 8.2vh;
}

.wideBookpageContainer {
	width: 53%;
	height: 75%;
	background-color: white;
	border-radius: 5px;
}

.largeWideBookpageContainer {
	width: 45vw;
	height: 70vh;
	min-width: 572px;
	min-height: 490px;

	background-color: white;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;

	/* unselectable: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.disabledLargeWideBookpageContainer {
	width: 45vw;
	height: 70vh;

	min-width: 572px;
	min-height: 490px;

	background-color: white;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;

	position: relative;
	top: 8.2vh;
	z-index: -1;

	opacity: 0.5;

	/* unselectable: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.buttonContainer {
}

.buttonPlacement {
	position: relative;
	z-index: 999;
	top: -250px;
}

.routeTransition,
.routeTransition > div {
	width: 100%;
	height: 100%;
}

.doneModal {
	/*background-color: green;
	opacity: 0.5;*/
}

.doneModalZZZ {
}

.doneModal > div {
	width: 450px; /* sets the width of the modal */
}

.fill {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.fullWidthHeight {
	width: 100%;
	height: 100%;
}

.modalBackdropXXX {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: green;
	opacity: 0.3;
}

.myQuestionMarkIcon {
	position: relative;
	top: -56px;
	left: 30px;
	font-size: 2.8em;
	color: #4a4a4a;
}

.volumeHeading {
	color: white;
	font-family: "ProximaNova Semibold";
	position: relative;
	left: -53px;
	bottom: 8px;
	font-size: 20px;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.volumeHeadingHearAgain {
	color: white;
	font-family: "ProximaNova Semibold";
	position: relative;
	left: -15px;
	bottom: -9px;
	font-size: 20px;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.volumeContainer {
	position: relative;
	-ms-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

.clickable {
	cursor: pointer;
	transition: all 0.3s;
}

.clickable:hover {
	transform: translateY(-3px);
	filter: brightness(120%);
	transition: all 0.3s;
}

.clickable:active {
	opacity: 0.8;
	transform: all 0.3s;
}

.skipPrompt {
	font-size: 16px;
	font-style: italic;
	color: white;
	position: relative;
	top: -40vh;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.3s;
	display: block;
	width: 185px;
}

.skipPrompt:hover {
	transform: translateY(-3px);
	filter: brightness(124%);
	transition: all 0.3s;
}
