<style>
     #monday {
            font-weight: normal;
            text-align: center;
            width: 80%;
            display: block;
            margin: 0 auto;
     }

     .wrapper {
        background: #3F3F5E;
     }

     .centre {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
</style>



      <!-- Modal Signup -->
      <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="log-in-modal" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h2 class="modal-signup-heading" style="text-align: center;">We already got you down!</h2>
              <h3 style="text-align: center;"> We'll let you know when your invite is ready. </h3>
              <div id="app-icon">
                <img class="centre" src="https://s3.amazonaws.com/st-webpage/assets/logo/logo-large.png"  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Modal Signup-->