/**
 * _navbar.scss
 *
 * Styling for the homepage navbar.
 */


 /** Navbar **/

.readup-nav {
   max-width: 1445px;
   margin-left: auto;
   margin-right: auto;

   position: fixed;
   top: 0;
   left: 0; // to center
   right: 0; // to center
   z-index: 300;
   width: 100%;
   height: 4em;
   background-color: transparent;
   color: white;
   font-family: 'Proximanova Semibold', sans-serif;

   a {
    color: white;
   }



   @media (min-width: 48em) { // 768px
     display: block;
   }

   -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;

   &.highlighted {
     -webkit-box-shadow:0px 1px 1px #dcdee2;
     -moz-box-shadow:0px 1px 1px #dcdee2;
       box-shadow: 0 0 1px 1px #dcdee2;
     background-color: white;
     a#navbar-title div {
       color: #2C6D9C;
     }

     a {
       text-decoration: none;
       color: #2C6D9C;
     }

     button#top-button {
      background-color: #FF4242;
      color: white;
     }
   }
}




button#top-button {
  background-color: white;

  color: #2C6D9C;
}

button.signup-button {
  font-weight: 900;
  font-size: 16px;
  padding: 12px 12px 8px;

}

button.log-in-fake-button {
   background-color: transparent !important;
   text-transform: none;
   margin-top: 0px;
   border: none;
   padding-top: 7px;
   color: white !important;
}




