.spellingContainer {
    /*    margin-top: -11vh;
*/

    height: 192px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 90px;
}

.spellingField {
    width: 368px;
    height: 92px;
    font-size: 48px;
    /*    margin: 0 auto;
*/
    text-align: center;
    /*    margin-top: 30px;
*/
    font-family: "Comic Neue Angular";
}

.spellingImage {
    width: 235px;
    height: 235px;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

i.helper {
    color: green;
    font-size: 85px;
    position: relative;
    top: -84px;
    left: -55px;
}

.progress {
    width: 368px;
    position: relative;
    top: 98px;
    opacity: 0.4;
}

.volumeLabel {
    color: white;
    font-family: "ProximaNova Semibold";
    font-size: 16px;
}

.introVolume {
    position: relative;
    text-align: center;
    transform: rotate(-2deg);
}

.volumeIcon {
    font-size: 5em;
}

.clickable {
    cursor: pointer;
    transition: all 0.3s;
}

.clickable:hover {
    transition: all 0.3s;
    transform: translateY(-3px);
    filter: brightness(120%);
}

.clickable:active {
    transition: all 0.3s;
    opacity: 0.8;
}
