.spellingContainer {
    margin-top: -10%;
}

.spellingField {
    width: 368px;
    height: 92px;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    font-family: "Comic Neue Angular";
}

.spellingImage {
    width: 235px;
    height: 235px;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

i.helper {
    color: green;
    font-size: 85px;
    position: relative;
    top: -84px;
    left: -55px;
}

.volumeLabel {
    color: white;
    font-family: "ProximaNova Semibold";
    font-size: 16px;
}

.introVolume {
    position: relative;
    text-align: center;
    transform: rotate(-2deg);
}

.volumeIcon {
    font-size: 5em;
}

.clickable {
    cursor: pointer;
}
