.countdownWrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3333;
}

.countdownContentCountainer {
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 6px;
	color: #9d2c28;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 10px 2px #5b5b5b;
	position: relative;
	top: 10px;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.countdownTitle {
	margin-top: 20px;
	font-size: 1.4em;
	font-family: Proximanova;
	font-weight: bold;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.countdownNumber {
	font-size: 6.5em;
	margin-bottom: 20px;
	font-weight: bold;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
