
.buttonArrayWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}

.buttonWrapper {
	display: flex;
	flex-flow: column;
	/*background-color: yellow;*/
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.buttonImage {
	width: 70px;
	height: 70px;
	margin: 10px;
}

.buttonText {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
	margin: 10px;
	font-family: Conv_proximanova-semibold-webfont;
}

/*.doneModal {
	display: block; 
    width: 200px !important;
    padding-left: 0px;
}

.modal-dialogue {
	width: 100px;
}*/