
.buttonArrayWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}


.inlineButtonArrayWrapper {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
    padding-left: 70px;
    padding-right: 45px;

}

.buttonWrapper {
	display: flex;
	flex-flow: column;
	/*background-color: yellow;*/
	justify-content: center;
	align-items: center;
	cursor: pointer;
    transition: all .3s;
	
}

.buttonWrapper:hover {
	transform: translateY(-3px);
    filter: brightness(120%);
    transition: all .3s;

}

.buttonImage {
	width: 60px;
	height: 60px;
	margin: 10px;
}

.smallButtonImage {
	width: 50px;
    height: 50px;
    margin: 0px; 
}

.largeButtonImage {
	width: 80px;
	height: 80px;
	margin: 10px;
}

.buttonText {
	font-weight: bold;
	font-style: italic;
	font-size: 1.1em;
	margin: 10px;
	margin-top: 8px;
	font-family: 'Proximanova Semibold';
	color: #4a4a4a;
}



.largeButtonText {
	font-weight: bold;
	font-style: italic;
	font-size: 1.3em;
	margin: 10px;
	font-family: 'Proximanova Semibold';
	color: #4a4a4a;
}

.smallButtonText {
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
    margin: 10px;
    margin-top: 5px;
    font-family: 'Proximanova Semibold';
    color: #4a4a4a;
}


.icon {
	color: rgb(36, 95, 146);
    font-size: 3.8em;
}

.smallIcon {
	color: rgb(36, 95, 146);
    font-size: 2.5em;
}

.obscure {
	opacity: .75
}


/*.doneModal {
	display: block; 
    width: 200px !important;
    padding-left: 0px;
}

.modal-dialogue {
	width: 100px;
}*/