.circle {
	width: 75px;
	height: 75px;
	background: white;
	-moz-border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	border-radius: 37.5px;
	margin: 0 auto;
}

.largeCircle {
	width: 113px;
	height: 113px;
	background: white;
	-moz-border-radius: 56.5px;
	-webkit-border-radius: 56.5px;
	border-radius: 56.5px;
}

.innerCircle {
	width: 68px;
	height: 68px;
	background: blue;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	border-radius: 34px;
	position: relative;
	top: 5px;
}

.largeInnerCircle {
	width: 101px;
	height: 101px;
	-moz-border-radius: 50.5px;
	-webkit-border-radius: 50.5px;
	border-radius: 50.5px;
	position: relative;
	top: 5px;
	background-image: url("/images/apple.png");
	background-size: 101px 101px;
}

.offsetLeft {
	left: 3px;
}

.offsetRight {
	left: 5px;
}

.offsetNone {
	left: 4px;
}

.teal {
	background-color: #66cbaa;
}

.blue {
	background-color: #5d739d;
}

.purple {
	background-color: #8687be;
}

.green {
	background-color: #bcd66d;
}

.dropShadow {
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.39);
}

.avatarWhole {
	margin: 30px;
	display: inline-block;
	text-align: center;

	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	transition: all 0.3s;
}

.avatarWhole:hover {
	transform: translateY(-3px);
	filter: brightness(120%);
	transition: all 0.3s;
}

.name {
	position: relative;
	top: 10px;
	font-family: "ProximaNova Semibold";
	font-size: 18px;
	text-align: center;
	line-height: 1.4em;
}

.largeName {
	font-size: 28px;
	color: white;
}

.initials {
	position: relative;
	top: -50px;
	font-family: "ProximaNova";
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.centered {
	display: block;
	position: relative;
	/*	top: 60px;
*/
}
