.spellingField {
	height: 80% !important;
	margin: 5% 0px !important;
}

.input {
	width: 90%;
	margin: 0 auto;
}

.myLabel {
	margin-left: 5%;
	margin-top: 6px;
	color: rgb(125, 125, 125);
	font-weight: 100 !important;
	font-family: "proximanova";
}

.myLabel label {
	font-weight: 100 !important;
}

.minorHeader {
	height: 95px;
}

.addBody {
	height: 36vh;
	padding: 0;
}

.addIndicator {
	width: 90%;
	padding: 15px 14px;
	display: block;
	margin: 0 auto;
	height: 52px;
	z-index: 1;
	position: relative;
	top: -16px;
	background-color: #e5f6fd;
	color: #00adf2;
	border: 1px solid #dbdbdbb5;
	font-family: "proximanova semibold";
	border-radius: 2px;
}

.addRow {
	display: flex;
	justify-content: space-between;
	height: 50px;
	padding: 15px 47px;
	padding-right: 30px;
	background-color: white;
}

.counter {
	background-color: #cccccc00;
	color: grey;
	height: 40px;
	padding: 10px 45px;
	font-family: "proximanova semibold";
	/* font-style: italic; */
	font-size: 13px;
}

.deleteIcon {
	color: #808080a6;
	font-size: 17px;
}
