.permissionsContainer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.95;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

@keyframes upAndDown {
    0% { top: 80px; }
    100% { top: 100px; }
}

.upArrow {
	position: fixed;
	top: 80px;
	left: 318px;
	width: 60px;
	animation: upAndDown 1s infinite alternate;
}
