body {
	height: 100%
}

.profileContainer {
	min-width: 173px;
	width: 23%;
    display: inline-block;
    height: 100vh;
    min-height: 680px;
    text-align: center;
/*    -webkit-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.06);
*/    background-color: #f9f9f9;
}

.profileContainer h3 {
	margin-top: 5.5em;
	font-weight: 900;
	font-size: 23px;
}

.profileContainer img { 
	width: 80%;
	max-width: 160px;
}

.profileContainer .linkedin {
	font-size: 1.15em;
}
.profileContainer h4 { 
	font-weight: 900;
	font-size: 17px;
	font-family: 'ProximaNova';
}

.profileContainer h5 {
	font-weight: 100;
	margin-top: 14px;
	font-size: 13px;
	color: grey;
}

.profileContainer img {
	margin: 12px 0px;
}

.scorerQuestionButton {
	height: 35px;
    width: 70%;
    max-width: 180px;
    min-width: 150px;	
}

.reviewerContainer{
	display: flex;
	margin-top: 25px;
	justify-content: center;
	flex-wrap: wrap;
}

.reviewerInfo {
	width: 167px;
    text-align: left;
}


.reviewerInfo h4 {
	font-size: 16px;
}

.reviewerInfo h5 {
	margin-top: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}

img.reviewerPic {
	display: inline-block;
	width: 50px;
    height: 50px;
    margin-top: 4px;

}

.container { 
	float: right;
    width: 75%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	display: inline-block;

}


@media (max-width: 728px) {

	.profileContainer {
		display: none;
	}

	.container {
		width: 100%;
	}

}