
.textContainer {
	font-size: 1.15em;
	width: 300px;
	margin-top: 30px;
	cursor: default;
	line-height: 2.2;
}

.textParagraph {
	margin-bottom: 30px;
}

.wordWrapper {
	position: relative;
}

.textWord {
	display: inline-block;
	color: black;
}

.textWord:hover {
	background-color: lightgray;
}

.textWordNoHover {
	display: inline-block;
	color: black;
}

.wordAbove {
	position: absolute;
	top: -25px;
	left: 2px;

	color: #982E2B;
	font-size: 0.9em;
	font-family: 'Comic Sans MS';
	text-decoration: none;
}

.wordAboveSpace {
	position: absolute;
	top: -25px;

	color: #982E2B;
	font-size: 0.9em;
	font-family: 'Comic Sans MS';
	text-decoration: none;

	text-align: center;

	/*width: 200px;
	margin-left: -100px;*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

	/* The two lines below are both hacky solutions to getting the added text on the same line
	not sure why necessary, but without one of them I couldn't get this to work. Not sure
	if one is less hacky than the other */
	/*width: 500px;*/
	display: table;

}

.addChevron {
	position: absolute;
	top: 25px;
	left: 10px;
	font-size: 0.6em;

	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-51%)

}

.strikethrough {
	text-decoration: #982E2B line-through;
}

.endingSlashes {
	color: #982E2B;
	font-size: 1.2em;
	margin-left: 5px;
}

.grayedOut {
	color: #B7B7B7;
}





/*.highlightedTextWord {
	display: inline-block;
	background-color: lightgr;
}*/
