.introContainer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	z-index: 3333;

	color: white;
	text-align: center;
}

.introTitle {
	font-size: 4.75em;
	font-family: "Proximanova Semibold";
	position: relative;
	top: 30px;
}

.large {
	font-size: 11.75em;
}

.introSubtitle {
	font-size: 1.8em;
	margin-top: 20px;
	margin-bottom: 40px;
}

.flashIt {
	-webkit-animation: flash linear 2.3s infinite;
	animation: flash linear 2.3s infinite;
}

@-webkit-keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.55;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.55;
	}
	100% {
		opacity: 1;
	}
}
