.title {
	text-align: center;
	padding: 10px 0px;
}

.saveButton {
	display: block;

	margin: 10px auto;
	display: block;
	font-family: "ProximaNova semibold";
	letter-spacing: 0.6px;
}

/*.row {
	display: flex;
	justify-content: space-evenly;
}*/

.rowElt {
	margin: 20px 0px;
}

.body {
	background-color: #fbfbfb;
	box-shadow: inset 0px -40px 30px -51px rgba(0, 0, 0, 0.55);
	height: 250px;
	overflow-y: scroll;
	padding: 0px 15px;
}

.roster {
}

.nameElt {
	width: 25%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
}

.bookElt {
	width: 25%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.levelElt {
	width: 15%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row {
	display: flex;
	justify-content: space-evenly;
}

