.title {
	text-align: center;
	padding: 10px 0px;
}

.saveButton {
	display: block;

	margin: 10px auto;
	display: block;
	font-family: "ProximaNova semibold";
	letter-spacing: 0.6px;
}

/*.row {
	display: flex;
	justify-content: space-evenly;
}*/

.rowElt {
	margin: 20px 0px;
}

.body {
	background-color: #fbfbfb;
}

.roster {
	display: flex;
	justify-content: space-evenly;
}
