.bullet {
	display: inline-block;
	width: 25%;
	text-align: center;
	color: rgb(154, 161, 178);
}

.bulletList {
	position: relative;
	top: -0px;
	margin-left: 0px;
	padding-left: 0px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.progress {
	width: 600px;
	min-width: 235px;
	position: relative;
	z-index: 2;
	top: 80px;
	opacity: 0.9;
	margin: 0 auto;
	height: 0px;
}

.navProgress {
	width: 380px;
	min-width: 235px;
	position: relative;
	z-index: 2;
	top: -15px;
	opacity: 0.9;
	margin: 0 auto;
	height: 0px;
	margin-bottom: 8px;
	right: 25px;
}

.myProgress {
	background-color: #010203;
	height: 5px;
	opacity: 0.8;
}

@media screen and (max-width: 700px) {
	.navProgress {
		display: none;
	}
}

@media screen and (max-height: 600px) {
	.progress {
		display: none;
	}
}
