.questionIcon {
	font-size: .9em;
    margin-left: 5px;
    cursor: pointer;
    color: #2f6da4;
}

.myPopover {
	font-family: 'ProximaNova';
	min-width: 325px;
	z-index: 1;
	color: #4a4a4a;
}

.compPopover {
	min-width: 0px; 
}

.sharePopover {
	font-family: 'ProximaNova';
	min-width: 320px;
	z-index: 999999;

}