<style>

  .body {
    background-color: #F2F3F5;
  }

  .container {
    /*box-shadow: -10px -10px 5px 20px black;*/
    border: 2px solid #DEDEDF;
  }

  #state {
    border: 0.5px solid gray;
    width: 100%;
    margin-bottom: 0.5em;
  }

  #page4-find-school input[name=school_name] {
    background: url(images/icons/magnifying-glass.png) no-repeat scroll 7px 7px;
    padding-left: 45px;
    background-size: 30px;
  }

  ul.ui-autocomplete.ui-menu {
    overflow-y: scroll;
    max-height: 250px;
    overflow-x: hidden;
  }

  ul.ui-autocomplete.ui-menu li {
    max-height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: black;

  }

  ul.ui-autocomplete.ui-menu li a {
    /*border-bottom: none;*/
    line-height: 23px;
    display: block;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul.ui-autocomplete.ui-menu li a:hover {
    color: white !important;
  }

  ul.ui-autocomplete.ui-menu li a span{
    margin-top: -30px;
    font-size: 12px;
  }

  .ui-btn.transition-link {
    background-color: #3C8FCA !important;
  }



</style>

      <div data-role="page" class="wrapper" id="page4-find-school">
        <%= render 'static_pages/components/navbar' %>

        <div data-role="main" class="body invite-teacher">

          <div class="container" style="padding-top:0em;">
            <div class="content-wrapper">

                <h2 class="modal-signup-heading" id="modal-signup-heading">Add your school</h2>
                <!-- <h3 class="modal-signup-heading">to add your class</h3> -->

                <form id="school-info" class="signup-form">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                  <div class="signup-setup">
                      <div class="field" id="signup-field">
                         <label class="label">School</label>
                        <input name="school_name" autocomplete="off" placeholder="Search for a school" class="input" id="school-input" required>
                      </div>
                  </div>

                  <!-- create the dropdown menu here -->
                  <div class="dropdown-menu" style="display: none;">
                    <div id="#anchor"></div>
                    <div id="just-to-append">
                      
                    </div>
                    <div id="status-text">
                      <p></p>
                    </div>

                    <div id="add-your-school-link">
                      <p>Can't find your school? <a id="page4link-add-school" href="#page6-school-info" data-transition="fade">Add one now.</a></p>
                    </div>
                  </div>

                  <!-- grade selection -->
                  <%= render 'static_pages/signup/modals/partials/grade_level' %>



                  <a id="page4link" class="transition-link ui-btn web-mobile-signup-button" href="#page3-signature" data-transition="fade">
                    Continue
                  </a>

                  <script>
                    var last_selected = '';

                    function setFormValues(ui) {
                      $('#page4-find-school input[name=school_name]').blur();
                      $('#page4-find-school input[name=school_id]').val(ui.item.id);
                      $('#page4-find-school input[name=school_name]').val(ui.item.label);
                      $('#page4-find-school input[name=school_city]').val(ui.item.city);
                      $('#page4-find-school input[name=school_state]').val(ui.item.state);
                      $("#page4-find-school input[name=school_name]").autocomplete('close');
                      return ui.item.label || '';
                    };

                    $(function(ready) {

                      var availableSchools = [];

                      var autoSearch = $( "#page4-find-school input[name=school_name]" ).autocomplete({
                        delay: 400,
                        source: '/auth/search_school',

                        minLength: 2,
                        appendTo: "#just-to-append",
                        position: { my: "left top", at: "left bottom", of: "#status-text" },
                        response: function(event, ui) {
                          var len = ui.content.length;

                          if (len >= 1) {
                            var suggestAdd = '<p>Can\'t find your school below? <a id="page4link-add-school" href="#page6-school-info" data-transition="fade">Add one now.</a></p>'
                            $('#status-text').html(suggestAdd);
                          } else {
                            console.log('no resultss')

                            $('#status-text').html('<p><i>No results found.</p></i>');
                          }
                          // return false;
                        },
                        focus: function(event, ui) {
                          $('#page4-find-school input[name=school_name]').val(ui.item.label);
                          if (isMobileDevice()){
                            last_selected = setFormValues(ui);
                          }
                          return false;
                        },

                        select: function(event, ui) {
                          last_selected = setFormValues(ui);
                          return false;
                        },
                        open: function(event, ui) {
                          // $('#just-to-append').append('<div class="list-header">HEADER</div>');
                          // $('#status-text').position({ my: "left top", at: "left bottom", of: ".ui-autocomplete" });
                          return false;
                        },
                      }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                        return $( "<li>", {
                            class: 'school-selector',
                            click: function(event) {
                                $('#page4-find-school input[name=school_name]').blur();
                            }
                         })
                         .append( "<a>" + item.label + "<br><span class='city'>" + item.desc + "</span></a>" )
                         .appendTo( ul );
                      };
                      
                  
                      $('#school-input').on('input', function() {
                        var len = $('#school-input').val().length;
                        if (len < 2) {
                          $('#status-text').css('display', 'none');
                          return;
                        }
                        $('#status-text').css('display', 'block');

                      });

                      $('#page4-find-school input[name=school_name]').click(function() {
                        $('.dropdown-menu').css('display', 'block');
                      });

                      $('#page4link-add-school').on('mousedown', function(event) {
                        // event.stopImmediatePropagation();
                        // event.preventDefault();
                      });


                      $('#page4-find-school input[name=school_name]').blur(function() {
                        // check to see if we selected something nice
                        var input_val = $('#page4-find-school input[name=school_name]').val();
                        $('#status-text').css('display', 'none');

                      //   var postData = {
                      //     'user_id': $('form#add-students').find('input[name=user_id]').val(),
                      //     'school_id': $('form#add-students').find('input[name=school_id]').val(),
                      //     'school_name': $('form#add-students').find('input[name=school_name]').val(),
                      //     'school_city': $('form#add-students').find('input[name=school_city]').val(),
                      //     'school_state': $('form#add-students').find('input[name=school_state]').val(),
                      //     'student_names': ['Demo Student'],
                      //     'authenticity_token': $('form#add-students').find('input[name=authenticity_token]').val(),
                      //     'classroom_grade': $('form#add-students').find('input[name=classroom_grade]').val(),
                      //     'classroom_name': 'Demo Classroom',
                      //     'signature': "Demo Teacher",
                      //   };

                      //   console.log("signup post data  " + postData);

                      //   $.ajax({
                      //     url: 'create_classroom',
                      //     type: 'post',
                      //     data: postData
                      //   }).done(function(data, statusText, xhr) {
                      //     var cur = window.location.hostname
                      //     location.href= "/student_dashboard/#/story/demo/page/1"
                      //   }).fail(function(){

                      //     }
                      //   );

                      //   $('#page4-find-school input[name=school_name]').val(last_selected);
                      //   $("#page4-find-school input[name=school_name]").autocomplete('close');
                      //   $('.dropdown-menu').css('display', 'none');
                      });

                    });



                    // $(document).on('click', '#page4-find-school #page4link',function(event){
                    //   var ValidStatus = $("#page4-find-school #school-info").valid();
                    //   // console.log(ValidStatus);
                    //   if (ValidStatus == false) {
                    //       event.preventDefault();
                    //       event.stopPropagation();
                    //       mixpanel.track('invalid school info given');
                    //       return false;
                    //   }

                    //   return false; // for now so we don't advance to the next page


                    // });



                  </script>
                </form>



              </div>
          </div> <%# container %>
        </div>
      </div>
      <!-- end Modal Signup-->