<!-- mobile splash -->
  <form
    id="signup-homepage"
    class="signup-form"
    action="\users"
    method="post"
  >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="signup-setup" id="signup-homepage-email">
      <div class="field" id="signup-field">
        <span>Email:</span>
        <input
          name="user[email]"
          id='suh'
          placeholder="Your email address"
          class="input form-control"
        >
      </div>

      <!-- this button will hide itself when clicked -->
      <button
        type="button"
        id="signup-homepage-get-started-button"
        class="signup-form-button pure-button pure-button-primary get_update dialog-button"
      >
        Get started
      </button>
    </div>

    <!-- this is hidden at first :) -->
    <div class="signup-name-password" style="display: none;">
      <div class="signup-setup">
        <div class="field" id="signup-field">
          <div class="field">
            <span>First name:</span>
            <input
              name="user[first_name]"
              autocomplete="off"
              placeholder="First name"
              class="input form-control"
              required
            >
          </div>

          <div class="field ">
            <span>Last name:</span>
            <input
              name="user[last_name]"
              autocomplete="off"
              placeholder="Last name"
              class="input form-control"
              required
            >
          </div>

          <div class="field">
          <span>Password:</span>
            <input
              name="user[password]"
              autocomplete="off"
              placeholder="Create a password"
              type="password"
              class="input form-control"
              pattern=".{6,}"
              title="Must be at least 6 characters long."
              required
            >
          </div>

          <div class="field">
          <span>Password:</span>
            <input
              name="user[password_confirmation]"
              autocomplete="off"
              type="password"
              class="input form-control"
              pattern=".{6,}"
              required
            >
          </div>

        </div>
        <button
          id="signup-homepage-demo-button"
          type="submit"
          class="signup-form-button pure-button pure-button-primary get_update dialog-button"
        >
          Complete sign up
          <div id="signup-spinner" class="spinner"></div>
        </button>
      </div>
    </div>
  </form>





<style type="text/css">

  form#signup-homepage {
    background-color: #FAFBFC;
    margin: auto;
    border-radius: 0.2em;
    -webkit-box-shadow: -2px 2px 9px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 9px -2px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 9px -2px rgba(0,0,0,0.75);
    margin-bottom: 50px;
  }

  form#signup-homepage .field {
    display: block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  form#signup-homepage .field {
    padding-bottom: 15px;
  }

  /* we're doing this instead of label tags >_> so we can get nice errors from jquery validator */
  form#signup-homepage span {
    font-size: 14px;
    color: #80858D;
    font-family: 'Conv_Proxima-Nova-Semibold';
  }


  /* this is meant to apply to jquery validator errors!*/
  form#signup-homepage label {
    display: block;
    font-size: 13px;
    text-align: right;
    position: absolute;
    width: 98%;
    bottom: -13px;
    font-family: 'Conv_proximanova-bold-webfont';
  }

  form#signup-homepage input::placeholder {
    color: #ACACAC;
    font-family: 'Conv_proximanova-regular-webfont';

  }

  @media (max-width: 35.5em) {
    #signup-homepage {
      width: 95%;
      padding: 0.2em;
    }
  }

  @media (min-width: 35.5em) {
    #signup-homepage {
      margin: auto;
      width: 55%;
      padding: 0.5em;
    }
  }

  .spinner-container {
    background: red;
  }

  .spinner {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
    left: 50%;
    right: 50%;
    margin: 0 auto;
    display: none;
    margin-top: 4px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

</style>



<script type="text/javascript">

  var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  var triggeredMobileForm = false;

  // function registerUser (e, form) {
  //   e.preventDefault();
  //   e.stopPropagation();

  //   var ValidStatus = form.valid();
  //   if (ValidStatus == false) {
  //     // mixpanel.track('invalid name-password given', {'platform': platform});
  //     return false;
  //   }

  //   // TODO: fix this!!!
  //   // $.ajax({
  //   //   url: 'auth/user_exists',
  //   //   type: 'post',
  //   //   data: {
  //   //     email: email
  //   //   },
  //   //   success: function(data) {
  //   //     // a user already exists with this username/phone, so log that user in
  //   //     $('#teacher-info input[name=usernameDisplay]').val(usernameDisplay);
  //   //     $('#teacher-info input[name=username]').val(username);
  //   //     $('#myModal').modal('toggle');
  //   //   },
  //   //   error: function (xhr, ajaxOptions, thrownError){
  //   //       if(xhr.status==404) {
  //   //         // a user doesn't exist with this phone/username
  //   //         $('body').addClass('modalTransition');
  //   //         $('#signupNamePassword').modal('toggle');
  //   //           // alert(thrownError);
  //   //       }
  //   //   }

  //   // });

  //   createUserAndDemoStuff(form.serialize())
  // }


  function revealRestOfForm(form) {
    if (!$('#suh').valid()) {
      return false;
      // mixpanel.track('invalid username given', {"platform": "mobile"});
    } else {
      $('#signup-homepage-get-started-button').slideUp();
      $('.signup-name-password').slideDown();
      $('.section-buffer').slideDown();
      // mixpanel.track('email given', {"platform": "mobile"});
    }
    triggeredMobileForm = true;
  }

  // function createUserAndDemoStuff (formData) {
  //   var spinner = $('.spinner')
  //   spinner.fadeIn();
  //   $.ajax({
  //     url: '/users',
  //     type: 'post',
  //     dataType: "json",
  //     data: formData,

  //   }).done(function (d) {

  //     var classroomData = {
  //       user_id: d.id,
  //       user_name: d.name,
  //       authenticity_token: $("form#signup-homepage #authenticity_token").val(),
  //     }

  //     $.ajax({
  //       url: '/auth/create_demo_classroom',
  //       type: 'post',
  //       dataType: "json",
  //       data: classroomData,
  //     }).done(function() {
  //       if (isMobileDevice()) {
  //         window.location.replace("/mobile_halt");
  //       } else {
  //         window.location.replace("/student_dashboard/#/story/demo");
  //       }
  //     }).fail(function(xhr, status, err) {
  //       console.log(err)
  //     })

  //   }).always(function() { spinner.fadeOut() })

  // };



  $( document ).ready(function() {

    var signupForm = $('form#signup-homepage')

    // use our advanced next-level proprietary email validation regex
    $.validator.methods.email = function( value, element ) {
      return this.optional( element ) || emailRegex.test( value );
    };

    // initialize validator plugin once document is ready
    signupForm.validate({
      rules: {
        'user[email]': {
          email: true,
          required: true
        },
        'user[first_name]': {
          required: true
        },
        'user[last_name]': {
          required: true
        },
        'user[password]': {
          required: true
        }
      }
    });



    $('#signup-homepage-get-started-button').click(function(e) {
      // checkIfUserExists();
      // e.preventDefault();
      // e.stopPropagation();
      revealRestOfForm(signupForm);
    });


    // handle enter button
    // $('#signup-homepage').on('keypress', function(e) {
    //   var keyCode = e.keyCode || e.which;
    //   if (keyCode === 13) {
    //     e.preventDefault();

    //     if (triggeredMobileForm) {
    //       registerUser(e, signupForm);
    //     } else {
    //       revealRestOfForm(signupForm);
    //     }
    //   }
    // });


    $('form#signup-homepage #suh').on('focus', function(e) {
      this.scrollIntoView(false);
    });
  });
</script>