<!-- mobile splash -->
  <form id="signup-homepage" class="signup-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="signup-setup" id="signup-homepage-email">
      <div class="field" id="signup-field">
        <span>Email:</span>
        <input
          name="user[username]"
          id='suh'
          placeholder="Your email address"
          class="input form-control"
        >
      </div>

      <!-- this button will hide itself when clicked -->
      <button
        type="button"
        id="signup-homepage-continue-button"
        class="signup-form-button pure-button pure-button-primary get_update dialog-button"
      >
        Get started
      </button>
    </div>

    <!-- this is hidden at first :) -->
    <div class="signup-name-password" style="display: none;">
      <div class="signup-setup">
        <div class="field" id="signup-field">
          <div class="field">
            <span>First name:</span>
            <input
              name="user[first_name]"
              autocomplete="off"
              placeholder="First name"
              class="input form-control"
              required
            >
          </div>

          <div class="field ">
            <span>Last name:</span>
            <input
              name="user[last_name]"
              autocomplete="off"
              placeholder="Last name"
              class="input form-control"
              required
            >
          </div>

          <div class="field">
          <span>Password:</span>
            <input
              name="user[password]"
              autocomplete="off"
              placeholder="Create a password"
              type="password"
              class="input form-control"
              pattern=".{6,}"
              title="Must be at least 6 characters long."
              required
            >
          </div>
        </div>
        <button
          id="signup-name-password-button"
          type="submit"
          class="signup-form-button pure-button pure-button-primary get_update dialog-button"
        >
          Complete sign up
        </button>
      </div>
    </div>
  </form>





<style type="text/css">

  form#signup-homepage {
    background-color: #FAFBFC;
    margin: auto;
    border-radius: 0.2em;
    -webkit-box-shadow: -2px 2px 9px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 9px -2px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 9px -2px rgba(0,0,0,0.75);
    margin-bottom: 50px;
  }

  form#signup-homepage .field {
    display: block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  form#signup-homepage .field {
    padding-bottom: 15px;
  }

  /* we're doing this instead of label tags >_> so we can get nice errors from jquery validator */
  form#signup-homepage span {
    font-size: 14px;
    color: #80858D;
    font-family: 'Conv_Proxima-Nova-Semibold';
  }


  /* this is meant to apply to jquery validator errors!*/
  form#signup-homepage label {
    display: block;
    font-size: 13px;
    text-align: right;
    position: absolute;
    width: 98%;
    bottom: -13px;
    font-family: 'Conv_proximanova-bold-webfont';
  }

  form#signup-homepage input::placeholder {
    color: #ACACAC;
    font-family: 'Conv_proximanova-regular-webfont';

  }

  @media (max-width: 35.5em) {
    #signup-homepage {
      width: 95%;
      padding: 0.2em;
    }
  }

  @media (min-width: 35.5em) {
    #signup-homepage {
      margin: auto;
      width: 41.66%;
      padding: 0.5em;
    }
  }

</style>



<script type="text/javascript">

  var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  var triggeredMobileForm = false;

  function registerUser (event, form) {
    event.preventDefault();
    event.stopPropagation();

    var ValidStatus = form.valid();
    if (ValidStatus == false) {
      // mixpanel.track('invalid name-password given', {'platform': platform});
      return false;
    }
    form.submit();
  }


  function revealRestOfForm(form) {
    if (!$('#suh').valid()) {
      return false;
      // mixpanel.track('invalid username given', {"platform": "mobile"});
    } else {
      var username = $('form#signup-homepage input[name=usernameDisplay]').val();

      $('#signup-homepage-continue-button').slideUp();
      $('.signup-name-password').slideDown();
      // mixpanel.track('email given', {"platform": "mobile"});
    }

    var username = $('#signup-homepage input[name=usernameDisplay]').val();

    var usernameFieldName = 'user[email]';
    var input = $('<input>')
                      .attr('type', 'hidden')
                      .attr('name', usernameFieldName)
                      .val(username);
    $('#signup-name-password').append($(input));
    triggeredMobileForm = true;
  }




  $( document ).ready(function() {

    var signupForm = $('form#signup-homepage')

    // use our advanced next-level proprietary email validation regex
    $.validator.methods.email = function( value, element ) {
      return this.optional( element ) || emailRegex.test( value );
    }

    // initialize validator plugin once document is ready
    signupForm.validate({
      rules: {
        'user[username]': {
          email: true,
          required: true
        },
        'user[first_name]': {
          required: true
        },
        'user[last_name]': {
          required: true
        },
        'user[password]': {
          required: true
        }
      }
    })


    $('#signup-homepage-continue-button').click(function(event) {
      // checkIfUserExists();
      revealRestOfForm(signupForm);
    });


    $('#signup-homepage-name-password-button').click(function(event) {
      registerUser(event, signupForm);
    });


    // handle enter button
    $('#signup-homepage').on('keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        if (triggeredMobileForm) {
          registerUser(event, signupForm);
        } else {
          revealRestOfForm(signupForm);
        }
      }
    });

  });
</script>