<div class="splash-new">
  <div class="splash-container">
    <div class="title" style="width:40em;">
      <h1 id="pitch">
        ReadUp does running records for you.
      </h1>
      <center>
        <h4 id="sub-pitch" style="width:35em">
          ReadUp listens to students read and creates a full running record for you.
        </h4>
      </center>
    </div>
  </div>
</div>
