@font-face {
    font-family: 'gochi-hand';
    src: url('fonts/gochi-hand.eot');
    src: local('☺'), url('fonts/gochi-hand.woff') format('woff'), url('fonts/gochi-hand.ttf') format('truetype'), url('fonts/gochi-hand.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: font-url('CircularStd-Bold.eot');
    src: local('☺'), font-url('CircularStd-Bold.woff') format('woff'), font-url('CircularStd-Bold.ttf') format('truetype'), font-url('CircularStd-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proximanova';
    src: font-url('proximanova-bold-webfont.eot');
    src: local('☺'), font-url('proximanova-bold-webfont.woff') format('woff'), font-url('proximanova-bold-webfont.ttf') format('truetype'), font-url('proximanova-bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proximanova';
    src: font-url('proximanova-regular-webfont.eot');
    src: local('☺'), font-url('proximanova-regular-webfont.woff') format('woff'), font-url('proximanova-regular-webfont.ttf') format('truetype'), font-url('proximanova-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Proximanova Semibold';
    src: font-url('Proxima-Nova-Semibold.eot');
    src: local('☺'), font-url('Proxima-Nova-Semibold.woff') format('woff'), font-url('Proxima-Nova-Semibold.ttf') format('truetype'), font-url('Proxima-Nova-Semibold.svg') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Proximanova';
    src: font-url('Proxima-Nova-Regular-Italic.eot');
    src: local('☺'), font-url('Proxima-Nova-Regular-Italic.woff') format('woff'), font-url('Proxima-Nova-Regular-Italic.ttf') format('truetype'), font-url('Proxima-Nova-Regular-Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}





/*Legacy from here on out */


@font-face {
    font-family: 'dk_cool_crayonregular';
    src: font-url('dk_cool_crayon-webfont.eot');
    src: font-url('dk_cool_crayon-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('dk_cool_crayon-webfont.woff2') format('woff2'),
         font-url('dk_cool_crayon-webfont.woff') format('woff'),
         font-url('dk_cool_crayon-webfont.ttf') format('truetype'),
         font-url('dk_cool_crayon-webfont.svg#dk_cool_crayonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dk_cool_crayon';
    src: font-url('DKCoolCrayon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*test of legacy*/ 
@font-face {
    font-family: 'Conv_CircularStd-Bold';
    src: url('fonts/CircularStd-Bold.eot');
    src: local('☺'), url('fonts/CircularStd-Bold.woff') format('woff'), url('fonts/CircularStd-Bold.ttf') format('truetype'), url('fonts/CircularStd-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_proximanova-bold-webfont';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: local('☺'), url('fonts/proximanova-bold-webfont.woff') format('woff'), url('fonts/proximanova-bold-webfont.ttf') format('truetype'), url('fonts/proximanova-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_proximanova-regular-webfont';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: local('☺'), url('fonts/proximanova-regular-webfont.woff') format('woff'), url('fonts/proximanova-regular-webfont.ttf') format('truetype'), url('fonts/proximanova-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Conv_Proxima-Nova-Semibold';
    src: url('fonts/Proxima-Nova-Semibold.eot');
    src: local('☺'), url('fonts/Proxima-Nova-Semibold.woff') format('woff'), url('fonts/Proxima-Nova-Semibold.ttf') format('truetype'), url('fonts/Proxima-Nova-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Proxima-Nova-Regular-Italic';
    src: url('fonts/Proxima-Nova-Regular-Italic.eot');
    src: local('☺'), url('fonts/Proxima-Nova-Regular-Italic.woff') format('woff'), url('fonts/Proxima-Nova-Regular-Italic.ttf') format('truetype'), url('fonts/Proxima-Nova-Regular-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_proxima-nova-bold-italic';
    src: url('fonts/proxima-nova-bold-italic.eot');
    src: local('☺'), url('fonts/proxima-nova-bold-italic.woff') format('woff'), url('fonts/proxima-nova-bold-italic.ttf') format('truetype'), url('fonts/proxima-nova-bold-italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



