  <div class="content-container">
    <footer class="footer">
      <div class="footer--container  container---full">
      <nav class="footer--nav">
        <a class="footer--nav--link footer--nav--link---terms-privacy" href="/privacy">
          Terms &amp; Privacy </a>
        <a class="footer--nav--link" href="/student_dashboard/#/story/demo">
          Try Demo
        </a>
        <a class="footer--nav--link" href="mailto:team@readupnow.com">
          Email Us
        </a>
        <a class="footer--nav--link" href="mailto:team@readupnow.com">
          Request Info
        </a>
        <a class="footer--nav--link" href="mailto:careers@readupnow.com">
          Jobs
        </a>
        <a class="footer--nav--link" href="/privacy">
          Trust &amp; Safety
        </a>
        <a class="footer--nav--link" href="mailto:team@readupnow.com" target="_blank">
          Support
        </a>
      </nav>
      </div>

      <!-- smooth scroll init! -->
      <script async type="text/javascript">
        var scroll = new SmoothScroll('a[href*="#"]');
        console.log(scroll);
      </script>
      
    </footer>
  </div>