<style type="text/css">


</style>

<nav class="navbar" role="navigation">
  <div class="container">
    <a href="/" id="navbar-title">
      <div>
        ReadUp
      </div>
    </a>
    <ul class="navbar-right">
      <li><a href="#end-no-reading">
        How it works
      </a></li>
<!--       <li class="navbar-button-item">
        <a>
          <button id="top-button" class="signup-button logger-in log-in-fake-button">
            Log in
          </button>
        </a>
      </li> -->

      <li class="navbar-button-item">
        <a href="#pitch">
          <button
            id="top-button"
            onclick="mixpanel.track('navbar signup button clicked', {'location': 'navbar'});"
            class="pure-button-primary pure-button signup-button"
          >
            Get started
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-mobile" role="navigation">
  <div class="container">
    <a href="/" id="navbar-title">
      <div>
        ReadUp
      </div>
    </a>
    <ul class="navbar-right">

      <li class="navbar-button-item">
        <a href="#pitch">
          <!-- <button id="top-button" class="pure-button-primary pure-button signup-button" data-toggle="modal" data-target="#chooseRoleModal"> -->
          <button
            id="top-button"
            class="signup-button
            logger-in
            log-in-fake-button"
          >
            Sign Up
          </button>
        </a>
      </li>

    </ul>
  </div>
</nav>