body {
	font-family: 'ProximaNova';
}


.transcriberContainer {
	/*padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;*/
	padding: 50px;
	padding-top: 40px;
	padding-left: 90px
}

.gradingViewLabel {
	font-weight: bold;
	font-style: italic;
	font-size: 1.4em;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

.nameHeading {
	font-family: 'ProximaNova';
	font-weight: bold;
	font-size: 1.9em;
}

.emailHeading {
	font-style: italic;
	font-size: 1.1em;
	margin-top: 5px;

}

.audioElement {
	width: 500px;
	margin-top: 20px;
}

.markupContainer {
	margin-top: 40px;
}


.bookTitleHeading {
	font-family: 'ProximaNova';
	font-weight: bold;
	font-size: 1.5em;
}

.bookLevelHeading {
	font-size: 1.2em;
	font-style: italic;
	margin-left: 20px;
}

.fluencyContainer {
	margin-top: 60px;
}

.fluencyButtonGroup {
	margin-top: 30px;
	width: 100%;
	margin-bottom: 100px;
}


.submitButton {
	width: 120px;
}

.unscorableButton {
	margin-left: 25px;
}

.alertSuccess {
	width: 320px;
	margin-top: 15px;
}

.questionIcon {
	margin-left: 250px;
}





