
.transcriberContainer {
	/*padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;*/
	padding: 50px;
}

.nameHeading {
	font-family: 'Conv_proximanova-bold-webfont';
	font-weight: bold;
	font-size: 1.9em;
}

.emailHeading {
	font-style: italic;
	font-size: 1.1em;
	margin-top: 5px;

}

.audioElement {
	width: 500px;
	margin-top: 20px;
}

.markupContainer {
	margin-top: 40px;
}

.bookInfo {
	margin-left: 10px;
}

.bookTitleHeading {
	font-family: 'Conv_proximanova-bold-webfont';
	font-weight: bold;
	font-size: 1.5em;
}

.bookLevelHeading {
	font-size: 1.2em;
	font-style: italic;
	margin-left: 20px;
}

.textContainer {
	font-size: 1.15em;
	width: 300px;
	margin-top: 30px;
	cursor: default;
	line-height: 2.2;
}

.textParagraph {
	margin-bottom: 30px;
}

.wordWrapper {
	position: relative;
	color: green;
	text-decoration: line-through;
}

.textWord {
	display: inline-block;
	color: black;
}

.textWord:hover {
	background-color: lightgray;
}

.wordAbove {
	position: absolute;
	top: -25px;
	left: 2px;

	color: #982E2B;
	font-size: 0.9em;
	font-family: 'Comic Sans MS';
	text-decoration: none;
}

.wordAboveSpace {
	position: absolute;
	top: -25px;
	left: -10px;

	color: #982E2B;
	font-size: 0.9em;
	font-family: 'Comic Sans MS';
	text-decoration: none;
}

.addChevron {
	position: relative;
	top: -20px;
	left: 10px;
	width: 4px;
	height: 4px;
	font-size: 0.6em;
}

.strikethrough {
	text-decoration: #982E2B line-through;
}



/*.highlightedTextWord {
	display: inline-block;
	background-color: lightgr;
}*/



