<label class="label">Grade level</label>
<select class="form-control grade-level" id="classroom_grade" name="classroom_grade" required>
    <option value="">Select your grade</option>
    <option value="-3">Infant</option>
    <option value="-2">Toddler</option>
    <option value="-1">Preschool</option>
    <option value="0">Kindergarten</option>
    <option value="1">1st Grade</option>
    <option value="2">2nd Grade</option>
    <option value="3">3rd Grade</option>
    <option value="4">4th Grade</option>
    <option value="5">5th Grade</option>
    <option value="6">6th Grade</option>
    <option value="7">7th Grade or above</option>

</select>